[data-tabcontent] {
  section {
    display: none;

    &.active {
      display: block;

      &.show-right {
        animation: show-right 0.5s forwards;
      }

      &.show-down {
        animation: show-down 0.5s forwards;
      }
    }
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-accordion] dd {
  display: none;
}

[data-accordion] dt {
  cursor: pointer;

  &::after {
    content: '';
    margin-left: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url(../img/arrow-red.svg) no-repeat center center;
    rotate: 90deg;
    transition: rotate 0.3s;
  }
}

[data-accordion] dt.active::after {
  content: '';
  rotate: -90deg;
}

[data-accordion] dd.active {
  display: block;
  animation: slideDown 0.5s both;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

[data-scroll] {
  opacity: 0;
  transform: translateX(-30px);
  transition: 0.3s;
}

[data-scroll].active {
  opacity: 1;
  transform: translateX(0);
}
